.fa-icon-check {
    background-color: #3B7F3F;
}

.fa-icon-cancel {
    background-color: #6F7372;
    margin-right: 10px;
}

.fa-icon-trash {
    background-color: #A62F24;
}

.fa-chat-window {
    font-size: 12px;
    color: white;
    width: 20px !important;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: #A62F24;
    text-align: left;
}

.default-text-area {
    height: 75px;
    flex-grow: 1;
    text-align: justify;
    padding: 5px 10px;
    resize: vertical;
}

.spacer {
    background-color: #000;
    width: 100%;
    height: 1px;
    margin: 10px auto;
}