.leaflet-container {
    font-family: 'Open-Sans';
}

.default-message {
    z-index: 1000;
    color: #000;
    background: #fff;
    position: fixed;
    padding: 10px;
    right: 10px;
    top: 10px;
    border-radius: 12px;
    width: 330px;
    text-align: center;
}

.chat-window-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
    background: #fff;
    padding: 5px 15px;
    border-radius: 12px;
    width: 320px;
    font-size: 13px;
    text-align: right;
}

.fa-world-map {
    font-size: 12px;
    color: #6F7372;
    width: 20px !important;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
